.loader-gif{
    margin: auto;
}
.head{
    margin: auto;
    font-size: 4rem;
    font-family: cursive;
}

@media (max-width:550px){
    .loader-gif{
        height: 250px;
        width: 250px;
    }
}