.bread {
    background: #fff;
}
.bread a {
    color: #000;
    font-size: 16px;
}
.checkoutCard {
    border: none;
}
.checkoutHeader {
    background: transparent;
    border-bottom: 1px solid #c8cacc;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.checkoutHeader button {
    width: 100%;
    border: none;
    background: transparent;
    text-align: left;
}
.accordion label {
    font-weight: bold;
}
.accordion input,
.accordion select {
    width: 100%;
    padding: 15px;
    padding-left: 16px;
    font-size: 0.9rem;
    border: 1px solid #c8cacc;
    border-radius: 0;
    height: auto;
    line-height: 1.15;
    color: inherit;
    background: inherit;
}
.accordion input:hover,
.accordion select:hover {
    border: 1px solid #d8173c;
}
.toBilling {
    height: 52px;
    border-radius: 26px;
    border: none;
    padding: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: linear-gradient(180deg, #db4663, #ba0a2f);
    color: #fff;
    border: 2px solid #d8173c;
}
.toBilling:hover {
    color: #fff;
}
.checkoutHeader button:focus {
    outline: none;
}
.add{
    font-size: 150px;
    font-weight: 300;
    color: gray;
    position: absolute;
    left: 37%;
    top: 0%;
    cursor: pointer;
}
.add2{
    font-size: 24px;
    color: black;
    position: absolute;
    left: 33%;
    top: 67%;
}

.standardButton{
    display: inline;
    
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
 background-color: #273c75;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.standardButton:focus {
  outline: 0;
}
@media screen and (min-width: 769px) {
    .wrapper {
        margin-top: 80px;
    }
}

