.parent_div {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.form {
  align-items: center;
  align-content: center;
  width: 100%;
  justify-content: center;
}
.left_section h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #273c75; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .17em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #273c75; }
}

.welcome_heading {

  font-size: 50px;
}

.right_section {
  flex: 28;
  background: url(https://i.ibb.co/jRcDSRq/sale.png);
  height: 640px;


}

.left_section {
  flex: 40;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.left_section h1 {
  margin-top: 50px;
  text-align: center;
  flex: 1;
}


.left_section lablel {
  justify-content: center;
}



input {
  margin: 5px 5px;
  padding: 5px 5px;
}


.tabs {
  justify-content: space-evenly;

}

.wrapper>div {
  margin-top: 128px;
}

.tabs a {
  flex: 2;
  text-align: center;
  
}

.tabs a:focus {
  outline: none;
}

.form input,
.form select {
  width: 100%;
  padding: 15px;
  padding-left: 16px;
  font-size: 0.7rem;
  border: 1px solid #c8cacc;
  border-radius: 0;
  height: auto;
  line-height: 1.15;
  color: inherit;
  background: inherit;
}

.form input:hover,
.form select:hover {
  border: 1px solid #007bff;
}

.form input[type="button"] {
  height: 52px;
  border-radius: 26px;
  border: none;
  padding: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: #273c75;
  color: #fff;
  border: 2px solid #273c75;
  width: 200px;
}

.form input[type="button"]:hover {
  color: #fff;
}




.user_login_button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login_tab_button {
  color: white;
  background: #273c75;
  padding: 15px;
  border-radius: 5px;
  border: 0px;
}
.login_tab_button:focus{
  outline: none;
}

@media screen and (min-width: 769px) {
  .wrapper {
    margin-top: 80px;
  }
}

img {
  width: 500px;
  height: 500px;

  margin: 50px 50px;
}

.login-poster {
  width: 100%;
}

.google_button_container {
  display: flex;
  justify-content: center;
}

.login_with_google_button {

  color: white;
  background: white;
  height: 50px;
  border-radius: 5px;
  border: 0px;

}

.login_with_google_button img {
  margin-top: -0px;
  width: 50px;
  height: 50px;
}



@media screen and (max-width: 1100px) {
  .right_section {
    display: none;
  }
}