.outer_container {
    margin-bottom: 30px;
}

.card_container {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* .outer_container h1{
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
} */


.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    background-color: white;
    flex: .8;
    align-items: center;
    align-content: center;

}

.card:hover {

    background: #fcfcfc;
    box-shadow: 5px 5px 10px #d6d6d6,
        -5px -5px 10px #ffffff;
}


.card p,
.card h2 {
    text-align: center;
}

.welcome-heading {
    margin-top: 30px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
}

.center-form {
    display: flex;
    justify-content: center;
}


.account-page-button {
    display: flex;
    justify-content: center;
}

.account-button {
    color: white;
    background: #0097e6;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 15px;
}

.logout-button {
    color: white;
    background: #e84118;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 15px;
}

.logout-button:hover {
    background: #c23616;
}

.manage-address-div {
    font-size: 20px;
}

.button_div {
    background-color: #0097e6;
    width: 50vw;
    align-items: center;
    align-content: center;
    margin-bottom: 10vh;
}

.button_div button {
    width: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: bisque;
    height: 10vh;
    color: black;
    border-radius: 100px;
    border: 2px solid white;
    background-color: #e84118;
    margin-bottom: 5vh;
}

.edit-button {
    padding: 10px;
    background-color: #67bcff;
    color: white;
    border: 0px;
    border-radius: 5px;
}

.edit-button:hover {
    background-color: #0097e6;

}

.edit-button:disabled {
    padding: 10px;
    background-color: #5d5f60;
    color: white;
    border: 0px;
    border-radius: 5px;
}

.update-button {
    padding: 13px;
    background-color: #0097e6;
    color: white;
    border: 0px;
    border-radius: 5px;
}

.update-button:disabled {
    padding: 10px;
    background-color: #5d5f60;
    color: white;
    border: 0px;
    border-radius: 5px;
}

.tabs {
    justify-content: space-evenly;
}


.tabs a {
    flex: 2;
    text-align: center;
    background-color: aqua;
}

.tabs a:focus {
    outline: none;
}

@media screen and (min-width: 769px) {
    .wrapper {
        margin-top: 80px;
    }
}

/* .update-button {
    padding: 20px;
    background-color: #67bcff;
    color: white;
    border: 0px;
    border-radius: 5px;
} */

.py-2 {
    display: flex;
    justify-content: center;
    background: white;
}

.order-information {
    cursor: pointer;
    color: #3d5c9b;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .order-information {
        font-size: 10px;
        text-align: center;
    }
}