
  .checkoutCard {
    margin-top: 0 !important;
    border: none;
  }
  .checkoutHeader {
    background: transparent;
    border-bottom: 1px solid #c8cacc;
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
  .checkoutHeader button {
    width: 100%;
    border: none;
    background: transparent;
    text-align: left;
  }
  .accordion label {
    font-weight: bold;
  }
  .accordion input,
  .accordion select {
    width: 100%;
    padding: 15px;
    padding-left: 16px;
    font-size: 0.9rem;
    border: 1px solid #c8cacc;
    border-radius: 0;
    height: auto;
    line-height: 1.15;
    color: inherit;
    background: inherit;
  }
  .accordion input:hover,
  .accordion select:hover {
    border: 1px solid #273c75;
  }
  .toBilling {
    height: 52px;
    border-radius: 26px;
    border: none;
    padding: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: #273c75;
    color: #fff;
    border: 2px solid #192a56;
  }
  .toBilling:hover {
    color: #fff;
    background: #192a56;
  }
  
  .checkoutHeader button:focus {
    outline: none;
  }
  .add1{
    font-size: 110px;
    text-align: center;
   
  } 
  
.add_addr_box{
    width: 45.66%;
    height: fit-content;
  }
  
.add_card_container{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .add2{
    width:fit-content;
    margin: auto;
  
  }
  .bigBtn{
     
    display: none;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    padding: 16px 12px;
    box-shadow: rgb(229, 229, 229) 0px 1px 0px 0px inset;
    align-items: center;
    align-content: center;
  }
  .btnBig2{
   
    vertical-align: top;
    display: inline-block;
    word-wrap: break-word;
    word-spacing: normal;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    background: #273c75;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-bottom: 12px;
    width: 100%;
    padding: 18px 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    
}
.btnBig2:hover{
    opacity: 2;
    background: #192a56;
    border:2px solid transparent;

}
.btnBig2:disabled{
    opacity: 0.65;
}
  
  @media screen and (min-width: 769px) {
    .wrapper {
      margin-top: 20px;
    }
  }
  
  
@media(max-width:767px){
    .add_addr_box{
    width: 91.66%;
    height: fit-content;
  }
  .f{
    display: none;
  }
  .bigBtn{
    display: flex;
  }
  
  }
  @media (max-width:620px){
 
 
    .add_addr_box{
      width: 91.66%;
    }
  
  
  }