
  .checkoutCard {
    margin-top: 0 !important;
    border: none;
  }
  .checkoutHeader {
    background: transparent;
    border-bottom: 1px solid #c8cacc;
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
  .checkoutHeader button {
    width: 100%;
    border: none;
    background: transparent;
    text-align: left;
  }
  .accordion label {
    font-weight: bold;
  }
  .accordion input,
  .accordion select {
    width: 100%;
    padding: 15px;
    padding-left: 16px;
    font-size: 0.9rem;
    border: 1px solid #c8cacc;
    border-radius: 0;
    height: auto;
    line-height: 1.15;
    color: inherit;
    background: inherit;
  }
  .accordion input:hover,
  .accordion select:hover {
    border: 1px solid #273c75;
  }
  .toBilling {
    height: 52px;
    border-radius: 26px;
    border: none;
    padding: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: #273c75;
    color: #fff;
    border: 2px solid #192a56;
  }
  .toBilling:hover {
    color: #fff;
    background: #192a56;
  }
  .checkoutHeader button:focus {
    outline: none;
  }
  .add1{
    font-size: 110px;
    text-align: center;
   
  } 
  
.add_addr_box{
    width: 45.66%;
    height: fit-content;
  }
  
.add_card_container{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .add2{
    width:fit-content;
    margin: auto;
  
  }
  
  
  @media screen and (min-width: 769px) {
    .wrapper {
      margin-top: 20px;
    }
  }
  
  
@media(max-width:767px){
    .add_addr_box{
    width: 91.66%;
    height: fit-content;
  }
  
  }
  @media (max-width:620px){
 
 
    .add_addr_box{
      width: 91.66%;
    }
  
  
  }