

  #checkout-container{
   
    display: flex;
    padding:0 10%;
  }

  

  #subtotal-box{
    
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 0 2%;
    flex: 3;
  }
  #subtotal-box p{
    text-align: center;
    font-size: 20px;
  }

  #address-box{
    padding: 0 2%;
    margin-top: 10%;
    margin-bottom: 5%;  
    flex: 8;  
    
    
}

#add-card-container{
  display: flex;
  flex-wrap: wrap;
}

#address-box p{
  text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

.lefty{
  margin: 5% 0;
  float: left;
  font-size: 16px;
  text-align: left;
  clear: both;
 
  
}

.righty{
  margin: 5% 0;
  float:right;
  font-size: 16px;
  text-align: end;
  clear: right;
  
  
}

hr{
  color: black;
}

.total-amount{
  font-size: 20px;
  color: blue;
}

 .add1{
  font-size: 110px;
  text-align: center;
 
} 

.add2{
  width:fit-content;
  margin: auto;

}

.place-order-button {

  width: 150px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.0px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 35%;
  margin-top: 7%;
  /* margin-bottom: 7%; */

}

.place-order-button:hover {
  background-color: #00cddb;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(-7px); */
  outline: 0;

}



.place-order-button:focus {
  outline: 0;
}

#add-addr-box{
  width: 45.66%;
  height: fit-content;
}

.card-inside-div{
  cursor: pointer;
}

@media(max-width:767px){
  #add-addr-box{
  width: 91.66%;
  height: fit-content;
}

}
@media (max-width:620px){
  #checkout-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    
  }

  #subtotal-box{
    width: 70%;
    margin: 0 15%;
  }
  #add-addr-box{
    width: 91.66%;
  }


}