/* .checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;

}
.add {
    font-size: 150px;
    font-weight: 300;
    color: gray;
    position: absolute;
    left: 33%;
    top: -2%;
    cursor: pointer;
  }
  .add2 {
    font-size: 24px;
    color: black;
    position: absolute;
    left: 25%;
    top: 67%;
  } */

  #checkout-container{
    border: 1mm solid green;
    display: flex;
    padding:0 10%;
  }
  #subtotal-box{
    
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 0 2%;
  }

  #address-box{
    padding: 0 2%;
    margin-top: 10%;
    margin-bottom: 5%;    
    
    
}

#add-card-container{
  display: flex;
  flex-wrap: wrap;
}

#address-box p{
  text-align: center;
  font-size: 20px;
}

.lefty{
  margin: 5% 0;
  float: left;
  font-size: 16px;
  text-align: left;
  clear: both;
 
  
}

.righty{
  margin: 5% 0;
  float:right;
  font-size: 16px;
  text-align: end;
  clear: right;
  
  
}

hr{
  color: black;
}

