.form_decor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    align-content: center;
    padding: 40px 10px;
}

.form_card{
    
    
    display: flex;
    flex-direction: column;
    flex-direction: column;
    padding: 30px 20px;
    
    flex: 1;
    
}

.form_card form{
    display: flex;
    flex-direction: column;
}

.form_card form input{
    width:100%;
}

.form_decor label{
    margin: 10px 0;
    font-size: 20px;
}

.label_head{
    font-weight: bolder;
    font-size: 14px;
}

.reg_button {
  color: white;
  background: #273c75;
  padding: 15px;
  border-radius: 5px;
  border: 0px;
  margin: 10px 0;
}

.image{
    width: 55%;
    
}

@media (max-width:600px){
    .image{
        display: none;
    }
}