a,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #ffffff;
    box-shadow: 9px 9px 24px #f0f0f0,
        -9px -9px 24px #ffffff;
}

.header-logo {
    width: 80px;
    object-fit: contain;
    margin: 0 20px;


}

.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
}

.header-search-input {
    height: 10px;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    border: 0 solid;
    box-shadow: inset 3px 3px 20px #cfcfcf,
        inset -3px -3px 20px #ffffff;
}


.header-search-input:hover {
    border-radius: 5px;
    border: 0 solid;
    box-shadow: inset 8px 8px 33px #cfcfcf,
        inset -8px -8px 33px #ffffff;
}

.header-search-icon {
    padding: 2px;
    height: 22px;
    margin-right: 10px;
    background-color: black;
    border-radius: 50%;
    color: white;
    margin-left: 5px;
}

.header-option-lineOne {
    font-size: 10px;
    padding: 10px;
}

.header-option-lineTwo {
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-links {
    color: black;
    padding: 10px;
}


.header-option {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
}

.header-option :hover {
    background-color: #eff8ff;
    color: black;
    transition: all 0.2s ease-out;
    border-radius: 5px;
    border-bottom: #53a2df 5px solid;
}

.header-option-lineOne:hover {
    border-bottom: none;
}

.header-option-lineTwo:hover {
    border-bottom: none;
}


@media screen and (max-width: 650px) {
    .header-option-lineTwo {
        display: none;
        padding: 0px;
    }

    .header-option-lineOne {
        font-size: 10px;
        padding: 0px;
    }

    .header-links {
        color: black;
        padding: 00px;
    }


    .header-option {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 10px;
    }
}