a,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #232b2b;
    box-shadow: 2px 2px 6px #f0f0f0,
        -2px -2px 6px #ffffff;
    justify-content: space-evenly;
}

.header-logo {
    width: 120px;
    object-fit: contain;
    margin: 0 20px;
    height: 80px;
}


.header-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
}

.two {
    display: none;
    background: #232b2b;
    width: 100%;
    height: 60px;
    border-radius: 0px;

}

.header-search-input {
    background: #444444;
    color: #fff;
    height: 10px;
    padding: 20px;
    width: 70%;

    border: 0 solid;
    /* box-shadow: inset 0px 0px 3px #CFCFCE, inset 0px 1px 0px #ffffff; */
}


.header-search-input:hover {
    background: #333333;

    border: 0 solid;
    /* box-shadow: inset 0px 0px 6px #CFCFCE, inset 0px 1px 3px #ffffff; */
}


.header-search-icon {
    color: #f5f6fa;
}

.header-search-icon-div {
    padding: 8px;
    height: 40px;
    margin-right: 10px;
    background-color: #00a8ff;
    color: #f5f6fa;
    margin-left: 5px;
    align-items: center;
    border-radius: 5px;
}

.header-search-icon-div:hover {
    background-color: #047cb8;
}

.header-option-lineOne {
    font-size: 10px;
    padding: 10px;
}

.header-option-lineTwo {
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.header-links {
    color: #f5f6fa;
    padding: 10px;

}


.header-option {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
}

.header-option :hover {
    background-color: #f5f6fa;
    color: #232b2b;
    transition: all 0.2s ease-out;
    border-radius: 5px;

}



.dynamic_cart {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 9px;
    border-radius: 50px;
    font-size: 12px;
    background: #f5f6fa;
    color: #232b2b;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    width: 100px;
}

.dynamic_cart:hover {
    color: #f5f6fa;
    background-color: #232b2b;
}

@media screen and (max-width:820px) {
    .header-search .one {
        font-size: 10px;
    }

    .header-logo {
        width: 60px;
        height: 40px;
    }
}

@media screen and (max-width: 650px) {
    .header-option-lineTwo {
        display: none;
        padding: 0px;
    }

    .header-option-lineOne {
        font-size: 10px;
        padding: 0px;
    }

    .header-links {

        padding: 00px;

    }


    .header-option {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 450px) {

    .header-option {
        display: flex;
        justify-content: center;
    }

    .acc {
        display: none;
    }

    .header-logo {
        width: 80px;
        height: 80px;
    }

    .header {
        box-shadow: none;
    }

    .icon {
        height: 8px;
        width: 8px;
    }

    .one {
        display: none;
    }

    .two {
        display: flex;
        box-shadow: 2px 2px 6px #f0f0f0,
            -2px -2px 6px #ffffff;
        z-index: 10;
        align-items: center;
        position: sticky;
        top: 0;
        border-top: none;

    }
}