.product_img {
  width: 40%;
  height: 40%;

}

.product_vin {
  padding: 1% 1%;
  display: flex;
  border-bottom: 1px solid lightgray;

  margin-bottom: 10px;

}

.product_details {
  flex: 8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.product_image_wrap {
  flex: 2;
}

.column_ni {
  flex: 2.5;

}

.button_area {
  flex: 1
}

.price_area {
  padding-left: 10%;
  flex: 3;
  font-size: 18px;
}

.quantity_multiplier {
  color: #273c75;
  font-size: 24px;
}

#final_price {
  margin: auto;
  padding-left: 20%;
  padding-bottom: 20%;
  font-size: 18px;
  justify-content: space-evenly;
}


.add_subtrac_button {

  width: 50px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: 1px solid #0097e6;

}

.add_subtrac_button:hover {
  background-color: #273c75;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(-7px); */
  outline: 0;

}

.add_subtrac_button:active {
  border-color: white;
  border: 0;
  outline: 0;
}

.add_subtrac_button:focus {
  outline: 0;
}


@media (max-width:750px) {

  .add_subtrac_button {
    width: 40px;
    height: 35px;
  }
}