

.product-img {
  width: 40%;
  height: 40%;
  
}

.product-vin {
  padding: 1% 1%;
  display: flex;
  border-bottom: 1px solid lightgray;
  
  margin-bottom: 10px;
  
}

.product-details{
  flex: 8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.product-image-wrap{
    flex: 2;
}

.column-ni {
  flex: 2.5;
  
}

.button-area{
    flex:1
}

.price-area{
    padding-left: 10%;
    flex: 3;
    font-size: 18px;
}

.quantity-multiplier{
    color: #273c75;
    font-size: 24px;
}

#final-price{
    margin: auto;
    padding-left: 20%;
    padding-bottom: 20%;
    font-size: 18px;
    justify-content: space-evenly;
}


@media (max-width:750px){
    
    .width-controller{
        width: 40px;
        height: 35px;
    }
}
