.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: larger;
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}