
.dabba{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:600px){
    .dabba{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 769px) {
    .containerWrap {
        background: #f5f6fa;
        background: linear-gradient(90deg, #f5f6fa, #f5f6fa 40%, #fff 0);
    }
}

