.card_container{
    width: 250px;
    height: 350px;
    min-width: 175px;
    min-height: 200px;
    max-width: 275px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #000 url('./mtech.jpg');
    position: relative;
    flex: 1;
    margin: 50px 20px;
    transform: scale(0.95);
    border-radius: 20px;
    transition: all 0.5s;
}
.card_container:hover{
    transform: scale(1);
}

.overlay{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    position: absolute;
    border-radius: 20px;
    transition: all 0.5s;
}

.labelname{
    background-color:#9c88ff;
    margin-top: 80%;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    
}



.overlay:hover{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
}


@media(max-width:420px){

    .card_container{
    width: 145px;
    height: 250px;
     min-width: 140px;
    min-height: 200px;
    max-width: 250px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #000 url('./mtech.jpg');
    position: relative;
    flex: 1;
    margin: 50px 2px;
    transform: scale(0.95);
    border-radius: 20px;
    transition: all 0.5s;

    
}

.labelname{
    background-color:#9c88ff;
    margin-top: 65%;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    
}

}
