.heading {
    display: flex;
}

.heading h2 {
    font-size: 36px;
    font-weight: 700;
}
.select {
    position: relative;
}
.select {
    width: 100%;
    padding: 15px;
    padding-left: 16px;
    font-size: 0.9rem;
    border: 1px solid #c8cacc;
    border-radius: 0;
    height: auto;
    line-height: 1.15;
    color: inherit;
    background: inherit;
    appearance: none;
}
.chevronDown {
    background-repeat: no-repeat;
    background-position-x: 50%;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0;
    top: 25%;
    cursor: pointer;
    pointer-events: none;
    z-index: 200;
    right: 15px;
}
.resetContainer button {
    height: 52px;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    color: #000;
    border: 2px solid #517fda !important;
}
.resetContainer button:hover {
    color: #fff !important;
}

