.SlideContainer {
    min-height: 768px;
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}

.SlideText {
    left: 120px;
    top: 15%;
    text-align: left;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-size: 420%;
    position: absolute;
}

.SlideContainer .RedButton {
    position: absolute;
    top: 68%;
    left: 120px;
}

.RedButton {
    padding: 10px;
    color: white;
    background-color: rgb(186, 12, 47);
    cursor: pointer;
}

.DiscountBanner {
    position: absolute;
    font-size: 20px;
    top: 83%;
    left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RedDiscountBanner {
    background-color: rgb(186, 12, 47);
    color: white;
    padding: 5px 2px;
}

.slide .SlideContainer img {
    height: 100%;
    /* right: 0; */
    /* position: absolute; */
    width: auto;
}

@media screen and (max-width: 1100px) {
    .SlideText {
        left: 40px;
        font-size: 52px;
    }

    .SlideContainer .RedButton {
        left: 40px;
    }

    .DiscountBanner {
        left: 100px;
    }
}

@media screen and (max-width: 750px) {}

@media screen and (max-width: 650px) {
    .SlideContainer {
        height: 50%;
    }

    .HomePageS1Star {
        padding-left: 0;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .SlideContainer {
        background-position: right top;
    }
}

@media screen and (max-width: 400px) {
    .DiscountBanner {
        font-size: 19px;
    }
}

@media screen and (max-width: 380px) {
    .SlideText {
        font-size: 300%;
    }

    .RedButton {
        white-space: nowrap;
    }

    .DiscountBanner {
        flex-direction: column;
    }
}