.products-page {
    /* display: grid;
    grid-template-columns: 25vw 25vw; */
    display: flex;
    flex-wrap: wrap;


    /* z-index: 1; */
    margin-left: 5px;
    margin-right: 5px;
}

.all-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.product-card {

    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    max-width: 300px;
    width: 250px;
}

.product-card:hover {
    border-radius: 50px;
    background: #ffffff;
    box-shadow: -10px 10px 20px #d9d9d9,
        10px -10px 20px #ffffff;
    cursor: pointer;
}

.filterSideNav {
    box-shadow: 0 -3px 12px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.filterSideNavBtn {
    background: transparent;
    border: none;
    /* float: right; */
}

.filterSideNavBtn div {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position-x: 50%;
}