.products-page {
    display: grid;
    grid-template-columns: 25vw 25vw;
    
    
    /* z-index: 1; */
    margin-left: 5px;
    margin-right: 5px;
    

}

.product-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

