.products-page {
    /* display: grid;
    grid-template-columns: 25vw 25vw; */
    display: flex;
    flex-wrap: wrap;
    
    
    /* z-index: 1; */
    margin-left: 5px;
    margin-right: 5px;
    

}

.product-card {
    flex: 1;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    width: 33%;
}

img{
    height: 5%;
    width: 10%;
}

