.SlideContainer {
    height: 500px;
    position: relative;

}

.SlideContainer img {
    height: 100%;
    width: 100%;
}

.SlideText {

    left: 120px;
    top: 5%;
    text-align: left;
    color: #353b48;
    position: absolute;
    margin-top: 20px;
    width: 30%;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.SlideText2 {

    left: 800px;
    top: 5%;
    text-align: left;
    color: #353b48;
    position: absolute;
    margin-top: 20px;
    width: 30%;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.MedText {
    font-size: 60px;
}

.SmallText {
    font-size: 40px;
}




@media screen and (max-width: 1100px) {
    .SlideText {
        left: 40px;
        font-size: 60px;
    }

    .SmallText {
        font-size: 20px;
    }

    .MedText {
        font-size: 40px;
    }




}

@media screen and (max-width: 920px) {
    .MedText {
        font-size: 40px;
        top: 0%;
    }

    .SlideContainer {
        height: 100%;
    }
}

@media screen and (max-width: 750px) {
    .SlideContainer {
        margin-top: 0;
    }

    .SlideText {
        font-size: 40px;
    }

    .SmallText {
        font-size: 14px;
    }

    .MedText {
        font-size: 22px;
        top: 0%;
    }
}



@media screen and (max-width: 450px) {
    .SlideContainer {
        background-position: right top;
    }
}



@media screen and (max-width: 435px) {
    .SlideText {
        font-size: 270%;
    }


}