.SlideContainer {
    height: 500px;
    position: relative;

}

.SlideContainer img {
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

.SlideText {

    left: 120px;
    top: 5%;
    text-align: left;
    color: #ffffff;
    position: absolute;
    margin-top: 20px;
    font-size: 38px;
    font-family: 'Dancing Script', cursive;
}

.TestiName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.SlideText2 {

    left: 800px;
    top: 5%;
    text-align: left;
    color: #353b48;
    position: absolute;
    margin-top: 20px;
    width: 30%;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.MedText {
    font-size: 60px;
}

.SmallText {
    font-size: 40px;
}




@media screen and (max-width: 1100px) {
    .SlideText {
        left: 40px;
        font-size: 30px;
    }

    .SmallText {
        font-size: 20px;
    }

    .MedText {
        font-size: 40px;
    }




}

@media screen and (max-width: 920px) {
    .MedText {
        font-size: 40px;
        top: 0%;
    }

    .SlideContainer {
        height: 100%;
    }
}

@media screen and (max-width: 750px) {
    .SlideContainer {
        margin-top: 0;
    }

    .SlideText {
        font-size: 25px;
    }

    .SmallText {
        font-size: 14px;
    }

    .MedText {
        font-size: 22px;
        top: 0%;
    }
}

@media screen and (max-width: 550px) {
    .SlideContainer {
        background-position: right top;
    }

    .SlideText {
        font-size: 20px;
    }
}



@media screen and (max-width: 450px) {
    .SlideContainer {
        background-position: right top;
    }

    .SlideText {
        font-size: 20px;
    }

}